<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom CSS for adjusting image size */
        .profile-img {
            max-width: 150px; /* Adjust as needed */
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">WELCOME TO MY PORTFOLIO</h1>
        <img src="{{ url_for('static',filename='profile_picture.jpg') }}" alt="BENZ PELAEZ" class="profile-img img-fluid rounded-circle">
        <ul class="nav nav-pills mt-4 mb-4">
            <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
        </ul>
        <div id="content">
            <h3>Main Page</h3>
            <p>Welcome to my portfolio website. This website showcases my work and experiences in the field of IT.</p>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
