<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom CSS for adjusting image size */
        .profile-img {
            max-width: 150px; /* Adjust as needed */
            height: auto;
        }
        p {
            line-height: 1.2; /* Adjust as needed */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">MY PROFILE</h1>
        <img src="{{ url_for('static',filename='profile_picture.jpg') }}" alt="My Profile" class="profile-img img-fluid rounded-circle mb-4">
        <p>I have a strong background in IT with a focus on software development and network management.<br> I am proficient in various programming languages, frameworks, and networks.<br></p>
        <a href="/" class="btn btn-primary">Main Page</a>
    </div>

    <!-- Bootstrap JS and jQuery (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
